{% extends "base_material.html" %}

{% block content %}

  {% include 'includes/navigation.html' %}
    <div class="row">
      <header class="header-2">
        <div class="page-header min-vh-75 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/bg2.jpg')">
          <span class="mask bg-gradient-primary opacity-4"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-7 text-center mx-auto">
                <h1 class="text-white pt-3 mt-n5">Our Cooks</h1>
                <p class="lead text-white mt-3">From all over the world. <br /> Invite your friend. </p>
                <a class="btn btn-light" href="{% url "kitchen:cook-create" %}">Add new</a>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

   {% include "includes/search_form.html" %}

    {% if cook_list %}

      {% for cook in cook_list %}
        <div class="row">
          <div class="col-sm-8" style="margin: 0 auto">
            <div class="card my-card" style="margin: 10px 10px">
              <div class="row card-body">
                  <div class="col-sm-10">
                  <h4 class="card-title">{{ cook.first_name }} {{ cook.last_name }}</h4>
                  <p class="card-text"><strong>Username: </strong>{{ cook.username }}</p>
                  <p class="card-text"><strong>Experience: </strong>{{ cook.years_of_experience }} y.</p>
                  <a href="{% url 'kitchen:cook-detail' pk=cook.id %}" class="btn btn-outline-info">Detail</a>
                </div>
                <img class="col-sm-2 rounded-3" style="object-fit: cover" src="{{ ASSETS_ROOT }}/img/cook_1.jpg" alt="cook"/>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}

    {% else %}
      <p>No experienced cooks free now.</p>
    {% endif %}
  {% include "includes/pagination.html" %}
  </div>
{% endblock %}
